<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    
    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %} 
    {# Archivos #}
    {% load static %}
    	
    	     
    {% if messages %}
    <ul class="messages list-group mb-3">
        {% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
    	{% endfor %}
    </ul>
    {% endif %}
    
</head>
<body>
    {# JS y jQuery Bootstrap #}
	  {% bootstrap_javascript jquery='full' %} 
    <div align="left" class="btn_crear mb-3">
        <a href="crear" type="button" class="btn btn-primary">Crear</a>
    </div>
        <!--listando los categoria en una tabla HTML-->
     <table class="table table-striped table-hover">
          <thead>
            <tr>
	            <th width="35%">Código de usuario</th>
    	        <th>Nombre</th>
    	        <th>Apellido</th>
				<th>Tipo de documento</th>
				<th>Número de documento</th>
				<th>Teléfono</th>
				<th>Correo electronico</th>
				<th>Contraseña</th>
				<th>Código de rol</th>
				<th>Código de ubicacion</th>
    	            
    	          </tr>
    	        </thead>
    	        <tbody>

          <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'permisos' y los listamos -->
          {% for usuario in object_list %}
    	    <tr>
    	        <td>{{ usuario.idusuario }}</td>
    	        <td>{{ usuario.nombre }}</td>
    	        <td>{{ usuario.apellido }}</td>
				<td>{{ usuario.tipo_documento }}</td>
				<td>{{ usuario.numero_documento }}</td>
				<td>{{ usuario.telefono }}</td>
				<td>{{ usuario.correo_electronico }}</td>
				<td>{{ usuario.contrasena }}</td>
				<td>{{ usuario.rol_idrol }}</td>
				<td>{{ usuario.ubicacion_idubicacion }}</td>


    	        <td>
    	             <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
    	    <form method="POST" action="eliminar/{{usuario.idusuario}}">
    	            {% csrf_token %}
    	            <div class="btn-group">
    	   
    	              <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
    	              <a href="detalle/{{usuario.idusuario}}" title="Ver" type="button" class="btn btn-success">Ver </a>
    	              <a href="editar/{{usuario.idusuario}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
    	              <button class="btn btn-danger" onclick="return eliminar();" type="submit">
    	                Eliminar
    	              </button>
    	            </div>
    	          </form>
    	   
    	        </td>
    	      </tr>
    	    {% endfor %}
    	   
    	    </tbody>
    	</table> 
        <script type="text/javascript">
    	function eliminar() {
    	    var x = confirm("¿Eliminar usuario?");
    	    if (x)
    	      return true;
    	    else
    	      return false;
    	    }
    	</script>  
    	  {# JS y jQuery Bootstrap #}
    	  
</body {% bootstrap_javascript jquery='full' %} >
</html>