{# Cargamos la librería #}
{% load bootstrap4 %}
 
<meta charset="utf-8">

{# CSS Bootstrap #}
{% bootstrap_css %} 

{# Widget Tweaks #}
{% load widget_tweaks %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <!-- {{ form.as_p }} -->
  <div class="form-group">
    <label for="idubicacion" class="txt_negrita">Código de ubicación</label>
    {{ form.idubicacion|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
  </div>
  <div class="form-group">
    <label for="longitud" class="txt_negrita">Longitud</label>
    {{ form.longitud|add_class:"form-control" }}
  </div>
  <div class="form-group">
    <label for="latitud " class="txt_negrita">Latitud</label>
    {{ form.latitud|add_class:"form-control" }}
  </div>

  <button type="submit" class="btn btn-primary">Aceptar</button>
  <a href="../" type="submit" class="btn btn-primary">Volver</a>
 
</form>
