{# Cargamos la librería #}
  {% load bootstrap4 %}
 
 <meta charset="utf-8"> 

  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="35%">Código del turno</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>  
   
    {% for turno in object_list %}
      <tr>
        <td>{{ turno.idturno}}</td>
        <td>{{ turno.nombre}}</td>
        <td>{{ turno.fecha}}</td>
        <td>{{ turno.hora}}</td>
        <td>
   
          <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
          <form method="POST" action="eliminar/{{postre.id}}">
            {% csrf_token %}
            <div class="btn-group">
              
              <a href="detalle/{{turno.idturno}}" title="Ver" type="button" class="btn btn-success">Ver </a>
              <a href="editar/{{turno.idturno}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
              
              <!-- Este botón ejecuta el formulario para eliminar un registro o postre en la Base de datos -->
              <button class="btn btn-danger" onclick="return eliminar();" type="submit">Eliminar</button>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
   
