<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Marca de la barra lateral -->

        <li class="nav-item active">
            <a class="nav-link" href="/index/" >
                
                <span><h1 class="h4 mb-2 text-white-800">INNO-TEK MOBIL</h1></span></a>
        </li>

    <!-- Divisor -->
    <hr class="sidebar-divider">

    <!-- Encabezado -->
    <div class="sidebar-heading"> 
        Menú principal
    </div>
    
    <!-- Menú de opciones -->

    <!-- Información de rutas -->
    <li class="nav-item">
            <a class="nav-link" href="/ruta/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Información de rutas</span></a>
    </li>

    <!-- Gestión de vehículos -->
    <li class="nav-item">
            <a class="nav-link" href="/vehiculo/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Gestión de vehículos</span></a>
    </li>

    <!-- Analizar conductores -->
    <li class="nav-item">
        <a class="nav-link" href="/conductor/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Analizar conductores</span></a>
    </li>
    
    <!-- Plan de rodamiento -->
    <li class="nav-item">
        <a class="nav-link" href="/plan_rodamiento">
            <i class="fas fa-fw fa-table"></i>
            <span>Plan de rodamiento</span></a>
    </li>

    <!-- Divisor -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Alternador de barra lateral -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    
</ul>