{% load static%}
<div id="content">

    <!-- Barra superior (Topbar) -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <div class="text-center">
            <h4>Software de transporte intermunicipal</h4>
        </div>

        <!-- Barra de navegación de la barra superior (Topbar Navbar) -->
        <ul class="navbar-nav ml-auto">
            <head>
                
                </body>                
        <!-- Información del usuario -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administrador</span>
                <img class="img-profile rounded-circle"
                    src="{% static '/img/persona.jpg' %}"></a>
                            
            <!-- Desplegable - Información del usuario -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="perfilusuario.html">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-600"></i>
                             Perfil de usuario</a>
                        <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Cerrar sesión</a>
            </div>

            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro de que desea cerrar la sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
            </div>
            <div class="modal-body">Seleccione cerrar sesión para finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

        </li>
        </ul>
    </nav>
    <!-- Fin de la barra superior -->
</div>