{% load static %}

<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
            <!-- Content Row -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <!-- Bar Chart -->

                        <div class="card shadow mb-4">

                            <img src="{% static 'img/provisional.jpg' %}">
                            <hr>

                           
                            <!-- Servicios -->
                            <p><p><p>
                            <div class="col-md-12 text-center">
                                <h4>Nuestros servicios</h4>
                            </div>
                            <p>
                            <section id="benefits" class="padding-gral  idblock-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h3></h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                            
                                        <div class="benefit col-xs-12 col-sm-6 col-md-3 text-center">
                                            <img src="{% static 'img/intermunicipal.jpg' %}" width="100" weight="100">
                                            <h4>Intermunicipal</h4>
                                            Cubriendo los departamentos de Cauca, Huila y Nariño.</div>
        

                                        <div class="benefit col-xs-12 col-sm-6 col-md-3 text-center">
                                            <img src="{% static 'img/carga.jpg' %}" width="140" weight="100">
                                            <h4>Carga</h4>
                                            Contamos con una reconocida agencia de carga.</div>

                                            
                                        <div class="benefit col-xs-12 col-sm-6 col-md-3 text-center">
                                            <img src="{% static 'img/turismo.jpg' %}" width="100" weight="100">
                                            <h4>Turismo</h4>
                                            Realizamos viajes de turismo y ocasionales en todo el territorio nacional.</div>
                    
                                        <div class="benefit col-xs-12 col-sm-6 col-md-3 text-center">
                                            <img src="{% static 'img/mixto.jpg' %}" width="100" weight="100">
                                            <h4>Mixto</h4>
                                            Conectamos el sector rural y transportamos sus productos agrícolas.</div>  
                            <!-- Fin de servicios -->

                                <div class="card-body">

                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>