{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metaetiquetas -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicio de sesión</title>

   
    <!-- Fuentes personalizadas para esta plantilla-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"
        rel="stylesheet">

    
<!-- Estilos personalizados para esta plantilla-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-primary">

    <div class="container">

        
        <!-- Fila exterior -->
        <div class="row justify-content-center">

            <div class="col-xl-9 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        
                        <!-- Fila anidada dentro del cuerpo de la tarjeta -->
                        <div class="row">
                            <!-- Linea para configurar imagen -->
                            <img src="{% static 'img/login1.png' %}"  width=400
                            height="500">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Inicio de sesión</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="correo_electronico" class="form-control form-control-user"
                                                id="txtcorreo_electronico" name="txtcorreo_electronico" aria-describedby="emailHelp"
                                                placeholder="Ingrese su correo electrónico"> <!--Campo sombreado-->
                                        </div>
                                        <div class="form-group">
                                            <input type="contrasena" class="form-control form-control-user"
                                                id="txtContrasena" name="txtContrasena" placeholder="Ingrese su contraseña">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Recordar contraseña?
                                                    </label>
                                            </div>
                                        </div>
                                        <a href="/index" class="btn btn-primary btn-user btn-block">
                                            Iniciar sesion
                                        </a>
                                        
                                        

                                        <!-- linea para iniciar session  con google
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        -->
                                        
                                        <!-- linea para iniciar session  con facebook
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                        -->
                                        
                                  
                                        <hr>
                                        <hr>
                                    <div class="text-center">
                                        <a href="/registro" class="small">¿No tienes cuenta? Registrate</a>
                                    </div>
                                    <div class="text-center">
                                        <a href="/recuperar" class="small">¿Olvidaste tu contraseña?</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    
    
    <!-- JavaScript básico de Bootstrap-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    
    
    <!-- Complemento básico JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %} "></script>

    
    <!-- Scripts personalizados para todas las páginas-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>