{% load static %}

<html>
<head>
	{% include "metaetiquetas.html" %}
  {% load widget_tweaks %}
	<title>Ver archivo adjunto</title>
  {% include "estilos.html" %}
</head>

<body>
	<div id="wrapper">

  <!-- Barra lateral -->
  {% include "barralateral.html" %}

	<!-- Envoltorio de contenido -->
  <div id="content-wrapper" class="d-flex flex-column">
	
<!-- Envoltura de la página -->
<div id="wrapper">
    <!-- Envoltura de contenido -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Contenido principal -->
        <div id="content">
            <!-- Inicio del contenido de la página -->
            <div class="container-fluid">
            <!-- Título de la página -->
            <h1 class="h3 mb-2 text-gray-800">Detalles del archivo adjunto</h1>
            <!-- Fila de contenido -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <!-- Bar Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
              
					<p><span class="txt_negrita">Código del documento:</span> <br> {{object.iddocumento}}</p>
					<p><span class="txt_negrita">Fotos del vehículo:</span> <br> {{object.registro_fotografico}}</p>
					<p><span class="txt_negrita">Seguro del vehículo (Soat):</span> <br> {{object.soat}}</p>
					<p><span class="txt_negrita">Tecnomecánica del vehículo:</span> <br> {{object.tecnomecanico}}</p>
					<p><span class="txt_negrita">Documento de identidad del propietario:</span> <br> {{object.identificacion_propietario}}</p>
					<p><span class="txt_negrita">Tarjeta de propiedad:</span> <br> {{object.tarjeta_propiedad}}</p>
					
					<!-- Botón para volver a la vista principal (Home) -->
					<a href="../" type="submit" class="btn btn-primary">Volver</a>

</body>
</html>

     